doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        if htmlWebpackPlugin.options.github
            // костыль для github pages
            script.
                document.write('<base href="' + document.location + '" />');
        else
            base(href='/')
        title
            block title
    body
        block main